<StackLayout row="0" horizontalAlignment="center" verticalAlignment="center" class="page">
  <Label textWrap="true" text="Completed study session!" class="h3"></Label>

  <StackLayout>
    <Label
      class="score-text"
      textWrap="true"
      fontWeight="bold"
      fontSize="20"
      text="Score"
    ></Label>
    <Label
      class="score-text"
      textWrap="true"
      fontWeight="bold"
      fontSize="20"
      [text]="totalScore + '/' + maxScore"
    ></Label>
  </StackLayout>

  <Button
    text="Back to Home"
    class="-primary"
    [nsRouterLink]="['/']"
  ></Button>
</StackLayout>
