<StackLayout class="modal-container" [width]="width">
  <Label class="h1" text="Earned points:"></Label>
  <Label class="h1" [text]="model.score"></Label>
  <Label class="h1" [text]="model.emoji"></Label>
  <Label class="h1" [text]="model.nameEnglish"></Label>
  <Label class="h1" [text]="model.nameRomaji"></Label>
  <Label class="h1" [text]="model.nameHiragana"></Label>
  <Label class="h1" [text]="model.nameKatakana"></Label>
  
  <Button text="Next" (tap)="closeModal()"></Button>
</StackLayout>
