<ns-action-bar></ns-action-bar>
<ScrollView class="page">
  <GridLayout rows="auto, auto, auto, auto">
    <!-- App Name and Description -->
    <StackLayout
      row="0"
      horizontalAlignment="center"
      verticalAlignment="top"
      class="m-15"
    >
      <Label
        textWrap="true"
        text="KonbiniKart - Your Japanese Shopping Companion"
        class="h2"
      ></Label>
      <Label
        textWrap="true"
        text="KonbiniKart is an Android-exclusive app designed to help users navigate the world of Japanese shopping while learning the language. With features that blend language learning and shopping convenience, it’s a unique tool for anyone interested in both Japanese culture and daily life."
      ></Label>
    </StackLayout>

    <!-- Features Section -->
    <StackLayout row="1" class="m-15">
      <Label text="Features" class="h3"></Label>
      <Label
        textWrap="true"
        text="- Grocery List Feature: Create a list of groceries that defaults to Japanese. Tap an item to get hints, allowing you to study while shopping."
      ></Label>
      <Label
        textWrap="true"
        text="- Study Japanese: Use the built-in flashcards to improve your Japanese, whether you're at home or abroad."
      ></Label>
      <Label
        textWrap="true"
        text="- Android TTS Features: The app utilizes Android's Text-to-Speech capabilities to read Japanese texts aloud, enhancing your learning experience."
      ></Label>
      <Label
        textWrap="true"
        text="- Powered by Modern Technologies: Built with NativeScript and Angular, KonbiniKart is designed for performance and flexibility."
      ></Label>
    </StackLayout>

    <!-- Development Status Section -->
    <StackLayout row="2" class="m-15">
      <Label text="Development Status" class="h3"></Label>
      <Label
        textWrap="true"
        text="- Early Development: KonbiniKart is still in its early stages of development. We’re continuously working to improve the app, and we’d love to hear from users."
      ></Label>
    </StackLayout>

    <!-- Open to contributors and testers and GitHub Link Section -->
    <StackLayout row="3" class="m-15">
      <Label text="Open to contributors and testers" class="h3"></Label>
      <Label
        textWrap="true"
        text="Check out the website for more info."
      ></Label>
    </StackLayout>
  </GridLayout>
</ScrollView>
