<ns-action-bar></ns-action-bar>

<GridLayout rows="auto, auto">
  <StackLayout
    row="0"
    horizontalAlignment="center"
    verticalAlignment="top"
    class="m-15"
  >
    <Label
      textWrap="true"
      text="KonbiniKart - Your Japanese Shopping Companion"
      class="h2"
    ></Label>
  </StackLayout>
  <StackLayout row="1" class="m-15">
    <Label
      textWrap="true"
      text="- Study Japanese: While shopping or use the flashcards for studying at home or abroad."
    ></Label>
    <Label
      textWrap="true"
      text="- AI-Generated UI Images: Most images in the app are either emojis or AI generated images created though LeonardoAI."
    ></Label>
    <Label
      textWrap="true"
      text="- Powered by NativeScript and Angular. Leveraging Wanakana.js for seamless Kanji conversions."
    ></Label>
  </StackLayout>
</GridLayout>
