<ns-action-bar>
  <GridLayout columns="*" rows="auto">
    <StackLayout orientation="horizontal">
      <TextField
        class="searchField"
        #searchField
        hint="Search"
        [(ngModel)]="searchQuery"
        (textChange)="onSearchInputChange($event)"
      ></TextField>
      <Button class="clearSearch" text="X" (tap)="onClearSearch()"></Button>
    </StackLayout>
  </GridLayout>
</ns-action-bar>
<FlexboxLayout flexDirection="column" class="content">
  <Button
    height="50"
    flexShrink="0"
    flexGrow="0"
    text="CLEAR LIST"
    (tap)="onClearList()"
    class="clear-btn"
  ></Button>
  <ListView [items]="displayList" flexGrow="1" class="list-view">
    <ng-template let-item="item">
      <ns-editable-grocery-item
        [item]="item"
        (add)="onAddItem(item)"
        (delete)="onDelete(item)"
      ></ns-editable-grocery-item>
    </ng-template>
  </ListView>
</FlexboxLayout>
