.content {
  padding-left: 5;
  padding-right: 5;

}

.searchField {
  width: 75%;
}

.clearSearch {
  padding: 0;
  border-radius: 15;
}

.item {
  padding: 0;
}


.item-btn {
  padding: 0;
  margin-bottom: 15dpi;
  height: 30dpi;
  border-radius: 15;
  font-weight: 800;
  font-size: 14;
}

.item-btn.add {
  background-color: var(--light-primary);
  color: var(--dark-text-color);
}

.item-btn.delete {
  background-color: transparent;
  font-weight: 600;
  color: red;
}
