.content {
  padding-left: 5;
  padding-right: 5;
  background-color: var(--background-color);
}

.searchField {
  width: 75%;
}

.clearSearch {
  padding: 0;
  border-radius: 15;
}

.item {
  padding: 0;
}


.item-btn {
  border-radius: 15;
}

.item-btn.add {
  background-color: var(--secondary-color);
  color: white;
  font-weight: 500;
}

.item-btn.delete {
  background-color: var(--accent-color);
  color: white;
  font-weight: 500;
}