.content {
  padding-left: 5;
  padding-right: 5;
   
}

.searchField {
  width: 75%;
}

.clearSearch {
  padding: 0;
  border-radius: 15;
}

.item {
  padding: 0;
}


.item-btn {
  border-radius: 15;
  font-weight: 800;
  font-size: 16;
}

.item-btn.add {
  color: var(--dark-text-color);
}

.item-btn.delete {
  background-color: var(--color-error);
}