<FlexboxLayout
  class="modal-container"
  [width]="width"
  [height]="height"
  flexDirection="column"
>
  <Label
    class="h3"
    alignSelf="center"
    [text]="items?.length + ' item(s) on your shopping list'"
  ></Label>
  <ListView [items]="items">
    <ng-template let-item="item">
      <ns-editable-grocery-item
        [item]="item"
        viewMode="modal"
        (delete)="onDelete(item)"
      ></ns-editable-grocery-item>
    </ng-template>
  </ListView>
  <Button text="Close" (tap)="closeModal()"></Button>
</FlexboxLayout>
