<ns-action-bar></ns-action-bar>

<GridLayout columns="*" rows="150, *">
  <Button
    col="0"
    row="0"
    text="Start study"
    class="-primary"
    *ngIf="items.length > 0"
    [nsRouterLink]="['/study']"
    [skipLocationChange]="true"
  ></Button>
  <FlexBoxLayout
    *ngIf="items.length === 0"
    flexDirection="column"
    justifyContent="center"
    alignItems="center"
  >
    <Label text="No items found"></Label>
    <Button
      text="Go add some items!"
      class="-primary edit-groceries-btn-link h3"
      [nsRouterLink]="['/edit-groceries']"
    ></Button>
  </FlexBoxLayout>
  <ListView [items]="items" col="0" row="1">
    <ng-template let-item="item">
      <StackLayout
        orientation="horizontal"
        [nsRouterLink]="['/grocery-item', item.id]"
      >
        <Label class="h3" [text]="item.emoji"></Label>
        <Label class="h3" [text]="item.nameEnglish"></Label>
        <Label class="h5" [text]="'(' + item.nameRomaji + ')'"></Label>
        <Label class="h5" [text]="item.nameHiragana"></Label>
        <Label class="h5" [text]="item.nameKatakana"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>
