<GridLayout rows="auto" columns="54, 3*, *" paddingTop="14" paddingBottom="14">
  <!-- Visual hint  -->
  <Button
  backgourndColor="red"
    row="0"
    col="0"
    [text]="enableViewVisualHint ? item.emoji : '❓'"
    borderRadius="12"
    (tap)="onTapHint()"
  ></Button>

  <!-- Japanese -->
  <StackLayout row="0" col="1" orientation="vertical">
    <Label
      class="h2 translated"
      *ngIf="!enableViewEnglish"
      [text]="isHiraganaMode() ? item.nameHiragana : item.nameKatakana"
    ></Label>
    <Label
      class="h2 translated"
      *ngIf="enableViewEnglish"
      [text]="item.nameEnglish"
    ></Label>
    <Label *ngIf="enableViewRomaji" [text]="item.nameRomaji"></Label>
  </StackLayout>
  <!-- Increase hint level button -->

  <!-- Checkbox -->
  <Button
    row="0"
    col="2"
    [text]="item?.checked ? '✅' : item?.hintLevel"
    (tap)="checkItemAsCompleted()"
  ></Button>
</GridLayout>
