<GridLayout rows="auto" columns="84, 3*, *" paddingTop="14" paddingBottom="14" class="container" [class.checked]="item?.checked">
  <!-- Visual hint  -->
  <Button
    androidElevation="0"
    row="0"
    col="0"
    class="no-elevation hint-btn"
    [class.not-clickable]="enableViewVisualHint || item.checked"
    [isEnabled]="!enableViewVisualHint"
    [text]="getHintButtonText()"
    [fontSize]="enableViewVisualHint || item.checked ? 32 : 14"
    (tap)="onTapHint()"
  ></Button>

  <StackLayout row="0" col="1" orientation="vertical">
    <!-- Japanese -->
    <Label
      fontSize="32"
      textWrap="true"
      *ngIf="!enableViewEnglish || item.checked"
      [text]="isHiraganaMode() ? item.nameHiragana : item.nameKatakana"
      [textDecoration]="item.checked ? 'line-through' : ''"
    ></Label>
    <!-- English -->
    <Label
      fontSize="32"
      *ngIf="enableViewEnglish && !item.checked"
      [text]="item.nameEnglish"
      [textDecoration]="item.checked ? 'line-through' : ''"
    ></Label>
    <Label
      fontSize="16"
      color="#B0AEAE"
      [text]="getBottomLabelText()"
      [class.bounce-scale]="item?.hintLevel > 0"
      [textDecoration]="item.checked ? 'line-through' : ''"
    ></Label>
  </StackLayout>
  <!-- Increase hint level button -->

  <!-- Checkbox -->
  <Button
    row="0"
    col="2"
    class="no-elevation check-btn"
    [text]="item?.checked ? '✅' : '⬜'"
    (tap)="checkItemAsCompleted()"
  ></Button>
</GridLayout>
