.item {
    padding: 0;
}

.item-btn {
    padding: 0 10;
    /* margin-top: 10dpi; */
    height: 30dpi;
    border-radius: 15;
    font-weight: 800;
    font-size: 14;
}

.item-btn.add {
    background-color: var(--light-primary);
    color: var(--dark-text-color);
}

.item-btn.delete {
    color: var(--color-error);
    opacity: 0.8;
    background-color: transparent;
    android-elevation: 0;
    font-weight: 600;
}
