<ns-action-bar>
  <GridLayout columns="*, 150" rows="30" class="m-15">
    <FlexboxLayout
      flexDirection="row"
      justifyContent="space-between"
      row="0"
      col="2"
      class="toggle"
    >
      <Button
        [class.active]="translateMode === 'hiragana'"
        (tap)="changeTranslateMode()"
        text="あ"
      ></Button>
      <Button
        [class.active]="translateMode === 'katakana'"
        (tap)="changeTranslateMode()"
        text="ア"
      ></Button>
    </FlexboxLayout>
  </GridLayout>
</ns-action-bar>

<StackLayout orientation="vertical">
 
  <GridLayout>
    <ListView [items]="items" row="1" col="0">
      <ng-template let-item="item">
        <ns-grocery-item-translated
          [item]="item"
          [translateMode]="translateMode"
          (onCheckItem)="onItemChecked(item, $event.hintLevel)"
        ></ns-grocery-item-translated>
      </ng-template>
    </ListView>
  </GridLayout>
</StackLayout>
