<ns-action-bar></ns-action-bar>

<StackLayout orientation="vertical">
  <GridLayout columns="150, 70, 70, auto" rows="auto" class="m-15">
    <FlexboxLayout
      flexDirection="row"
      justifyContent="space-between"
      row="0"
      col="0"
      class="toggle"
    >
      <Button
        [class.active]="enableViewHiragana"
        (tap)="enableViewHiragana = true; enableViewKatakana = false"
        text="あ"
      ></Button>
      <Button
        [class.active]="enableViewKatakana"
        (tap)="enableViewHiragana = false; enableViewKatakana = true"
        text="ア"
      ></Button>
    </FlexboxLayout>
    <Button
      row="0"
      col="1"
      text="👀"
      [class.-primary]="enableViewVisualHint"
      (tap)="enableViewVisualHint = !enableViewVisualHint"
    ></Button>
    <Button
      row="0"
      col="2"
      text="RO"
      [class.-primary]="enableViewRomaji"
      (tap)="enableViewRomaji = !enableViewRomaji"
    ></Button>
    <Button
      row="0"
      col="3"
      text="ENG"
      [class.-primary]="enableViewEnglish"
      (tap)="enableViewEnglish = !enableViewEnglish"
    ></Button>
  </GridLayout>
  <GridLayout>
    <ListView [items]="items" row="1" col="0">
      <ng-template let-item="item">
        <ns-grocery-item-translated
          [item]="item"
          [translateMode]="enableViewHiragana ? 'hiragana' : 'katakana'"
          (onCheckItem)="onItemChecked(item, $event.hintLevel)"
        ></ns-grocery-item-translated>
      </ng-template>
    </ListView>
  </GridLayout>
</StackLayout>
