<ns-action-bar [askToConfirmOnBackPress]="shouldConfirmBack()">
  <GridLayout columns="*, 150" rows="30" class="m-15">
    <FlexboxLayout
      flexDirection="row"
      justifyContent="space-between"
      row="0"
      col="2"
      class="toggle"
      *ngIf="items.length > 0"
    >
      <Button
        [class.active]="translateMode === 'hiragana'"
        (tap)="changeTranslateMode()"
        text="あ"
      ></Button>
      <Button
        [class.active]="translateMode === 'katakana'"
        (tap)="changeTranslateMode()"
        text="ア"
      ></Button>
    </FlexboxLayout>
  </GridLayout>
</ns-action-bar>

<StackLayout orientation="vertical" class="page">
  <GridLayout>
    <ListView *ngIf="items?.length ?? 0 > 0" [items]="items" row="1" col="0">
      <ng-template let-item="item">
        <ns-grocery-item-translated
          [item]="item"
          [translateMode]="translateMode"
          (onCheckItem)="onItemChecked(item, $event.hintLevel)"
        ></ns-grocery-item-translated>
      </ng-template>
    </ListView>
    <Button
      row="1"
      col="0"
      *ngIf="!items || items.length === 0"
      text="Add some groceries!"
      class="edit-groceries-cta bounce"
      [nsRouterLink]="['/edit-groceries']"
    ></Button>
  </GridLayout>
</StackLayout>
