.toggle {
    border-width: 1;
    border-color: var(--dark-secondary);
    border-radius: 150;
    height: 150px;
    border-radius: 150;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.07) 50%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
}

.toggle.ns-dark {
    border-width: 0;
    background-color: var(--dark-background-alt-5);
}

.toggle button,
.toggle button:focus,
.toggle button:hover {
    width: 49%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 160;
    background-color: transparent;

}

.toggle button.ns-dark {
    overflow: hidden;
    background-color: var(--dark-background-alt-5);
}

.toggle button.active {
    color: var(--dark-btn-color-inverse);
    background-color: var(--color-white);
}

.toggle button.ns-dark.active {
    background-color: var(--dark-secondary);
    color: var(--dark-btn-color-inverse);
}


button {
    width: 50;
}

.edit-groceries-cta {
    background-color: var(--dark-secondary);
    color: var(--dark-btn-color-inverse);
    font-weight: bold;
    border-radius: 150;
    height: 50;
    width: 300;

}