StackLayout {
    border-radius: 10;
    box-shadow: 0 4 6 rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 1;
    background-color: var(--primary-color);
}

StackLayout StackLayout {

    width: 100%;
}

.card {
    background-color: var(--background-color);
    padding: 20;
    color: white;
    width: 100%;
    border-radius: 10;
}


Label,
FlexboxLayout {
    background-color: transparent;
}