<ActionBar title="Item detail">
  <NavigationButton
    android.systemIcon="ic_menu_back"
    (tap)="goBack()"
  ></NavigationButton>
</ActionBar>

<FlexboxLayout flexDirection="column">
  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="item.id + '. '"></Label>
    <Label class="h2" [text]="item.emoji"></Label>
  </FlexboxLayout>

  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="item.nameKatakana"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="item.nameHiragana"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="item.nameRomaji"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="m-15">
    <Label class="h4" [text]="item.nameEnglish"></Label>
  </FlexboxLayout>
</FlexboxLayout>
