.container {
    border-radius: 10;
    width: 80%;
    padding: 1;
    background-color: var(--dark-text-color);
}

.card { 
    padding: 20;
    width: 100%;
    border-radius: 10;
    border-width: 1;
    background-color: var(--light-primary);
    border-color: var(--dark-text-color);
}

.controls{
    width: 80%;
    margin-bottom: 25;
    padding: 20;
    border-width: 1;
    border-color: var(--dark-text-color);
    background-color: var(--light-primary);
    border-radius: 10;
}

Button {
    padding: 5;
    border-radius: 10;
}
