<ns-action-bar [title]="totalScore + ' / ' + maxScore"></ns-action-bar>

<GridLayout rows="auto, *, auto" columns="*">
  <Label row="0" col="0">{{ currentItemIndex + 1 }} / {{ items.length }}</Label>
  <StackLayout
    row="1"
    col="0"
    class="container"
    verticalAlignment="center"
    horizontalAlignment="center"
  >
    <FlexboxLayout flexDirection="column" class="card" *ngIf="selectedItem">
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label class="h1" [text]="showHint ? selectedItem.emoji : '?'"></Label>
      </FlexboxLayout>
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label class="h2" [text]="selectedItem.nameKatakana"></Label>
      </FlexboxLayout>
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label class="h2" [text]="selectedItem.nameHiragana"></Label>
      </FlexboxLayout>
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label
          class="h2"
          [text]="showRomaji ? selectedItem.nameRomaji : '?'"
        ></Label>
      </FlexboxLayout>
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label
          class="h2"
          [text]="showEnglish ? selectedItem.nameEnglish : '?'"
        ></Label>
      </FlexboxLayout>
    </FlexboxLayout>
    <StackLayout
      *ngIf="!selectedItem"
      horizontalAlignment="center"
      verticalAlignment="center"
    >
      <Label text="No item found"></Label>
    </StackLayout>
  </StackLayout>

  <StackLayout class="controls" row="2" col="0">
    <FlexboxLayout
      flexDirection="row"
      justifyContent="space-between"
      alignItems="center"
    >
      <Button text="👀" (tap)="toggleHint()" [class.-primary]="showHint"></Button>
      <Button text="ENG" (tap)="toggleEnglish()" [class.-primary]="showEnglish"></Button>
      <Button text="RO" (tap)="toggleRomaji()" [class.-primary]="showRomaji"></Button>
    </FlexboxLayout>

    <FlexboxLayout
      flexDirection="row"
      justifyContent="space-between"
      alignItems="center"
    >
      <Button text="Previous" (tap)="showPreviousItem()"></Button>
      <Button text="Next" (tap)="showNextItem()"></Button>
    </FlexboxLayout>
  </StackLayout>
</GridLayout>
