<ns-action-bar
  [title]="items.length > 0 ? 'Score ' + totalScore + '/' + maxScore : ''"
  [askToConfirmOnBackPress]="true"
>
</ns-action-bar>

<Button
  row="1"
  col="0"
  *ngIf="!selectedItem || !items || items.length === 0"
  text="Add some groceries!"
  class="edit-groceries-cta bounce"
  [nsRouterLink]="['/edit-groceries']"
></Button>

<GridLayout
  rows="auto, *, auto"
  columns="*"
  *ngIf="selectedItem && items?.length > 0"
>
  <Label class="cards-remaining" row="0" col="0" *ngIf="items.length > 0"
    >{{ currentItemIndex + 1 }} / {{ items.length }}</Label
  >
  <StackLayout
    row="1"
    col="0"
    class="container"
    verticalAlignment="center"
    horizontalAlignment="center"
  >
    <FlexboxLayout flexDirection="column" class="card" *ngIf="selectedItem">
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label class="h1 m-15" [text]="selectedItem.nameKatakana"></Label>
      </FlexboxLayout>
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label class="h1" [text]="selectedItem.nameHiragana"></Label>
      </FlexboxLayout>
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label class="h1" [text]="showHint ? selectedItem.emoji : '?'"></Label>
      </FlexboxLayout>
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
      </FlexboxLayout>
      <FlexboxLayout
        class="m-15"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label
          class="h2 m-15"
          [text]="showRomaji ? selectedItem.nameRomaji : '?'"
        ></Label>
      </FlexboxLayout>
    </FlexboxLayout>
  </StackLayout>

  <StackLayout class="controls" row="2" col="0" *ngIf="items.length > 0">
    <FlexboxLayout
      flexDirection="row"
      justifyContent="space-between"
      alignItems="center"
    >
      <Button
        [text]="'ion-volume-medium-outline' | fonticon"
        (tap)="speakTTSInJapanese()"
        class="hint-btn speak-btn ion"
      ></Button>
      <Button
        text="Hint 1"
        (tap)="toggleRomaji()"
        class="hint-btn"
        [class.-primary]="showRomaji"
        [class.striked-through]="showRomaji"
      ></Button>
      <Button
        text="Hint 2"
        (tap)="toggleHint()"
        class="hint-btn"
        [class.-primary]="showHint"
        [class.striked-through]="showHint"
        *ngIf="showRomaji"
      ></Button>
    </FlexboxLayout>

    <FlexboxLayout
      flexDirection="row"
      justifyContent="center"
      alignItems="center"
    >
      <Button
        class="next-card"
        text="Reveal answer"
        (tap)="openAnswerModal()"
      ></Button>
    </FlexboxLayout>
  </StackLayout>
</GridLayout>
