@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.ion {
    font-family: ionicons;
  }

*, Label {
    font-family: "Inter", "Inter-Regular" ; 
    font-weight: 400;
}

.ns-dark.page {
    background-color: black;
}

/* Bounce Animation */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }

    50% {
        transform: translateY(5);
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-and-scale {

    0%,
    100% {
        transform: translateY(0) scale(1);
        animation-timing-function: ease-in;
    }
    
    50% {
        transform: translateY(3) scale(0.95);
        animation-timing-function: ease-out;
    }
}

.bounce {
    display: inline-block;
    animation: bounce 0.5s infinite;
}

.bounce-scale {
    animation: bounce-and-scale 0.5s forwards;
}