.button-edit {
    border-width: 1;
    border-color: var(--color-grey);
    border-style: solid;
    padding: 0 10;
}

.button-list {
    color: black;
    border-width: 1;
    border-color: var(--color-grey);
    border-style: solid;
    background: linear-gradient(180deg, var(--color-white) 0%, var(--color-grey) 100%);
}

.button-study {
    color: black;
    border-width: 1;
    border-color: var(--color-grey);
    border-style: solid;
    background: linear-gradient(180deg, var(--color-white) 0%, var(--color-grey) 100%);
}

.button-text {
    color: black;
}

.top-bar>.icon {
    font-size: 23;
}

.top-bar>.text-logo {
    font-size: 20;
}