.top-bar>.icon {
    font-size: 25;
}

.top-bar>.text-logo {
    font-size: 20;
}

.button-edit {
    border-width: 1;
    border-color: var(--color-grey);
    border-style: solid;
    padding: 0 10;
}

.button-list {
    color: black;
    box-shadow: 0px -1px 125px 38px rgba(0, 0, 0, 0.1);
}

.ns-dark-fix.page {
    background-color: black;
}

.ns-dark-fix .button-list {
    border-width: 1;
    background-color: var(--dark-complementary-dark);
    color: var(--dark-item-active-color);
    border-color: var(--dark-item-active-color);
    border-style: solid;
}

.button-study {
    color: black;
    box-shadow: 0px -1px 125px 38px rgba(0, 0, 0, 0.1);
}

.ns-dark-fix .button-study {
    border-width: 1;
    background-color: var(--dark-complementary-dark);
    color: var(--dark-item-active-color);
    border-color: var(--dark-item-active-color);
    border-style: solid;
}

.button-text {
    color: black;
}