<StackLayout marginLeft="20" marginRight="20">
  <!-- Logo bar -->
  <StackLayout class="top-bar" height="100" orientation="horizontal" verticalAlignment="center">
    <Label class="ion icon" [text]="'ion-basket-outline' | fonticon"></Label>
    <Label class="text-logo" text=" KonbiniKart"></Label>
  </StackLayout>

  <!-- Body -->
  <FlexboxLayout
    flexWrap="wrap"
    justifyContent="space-between"
    alignsItems="center"
    marginBottom="12"
  >
    <Label
      textWrap="true"
      verticalAlignment="bottom"
      text="Your shopping list"
      fontWeight="bold"
      height="30"
      fontSize="16"
    ></Label>
    <Label
      text="Edit list"
      textAlignment="center"
      fontWeight="bold"
      borderRadius="12"
      [nsRouterLink]="['/edit-groceries']"
      class="button-edit"
    ></Label>
  </FlexboxLayout>

  <!-- Button Translated List -->
  <StackLayout
    paddingTop="15"
    paddingBottom="15"
    borderRadius="12"
    marginBottom="15"
    [nsRouterLink]="['/groceries-translated']"
    class="button-list"
  >
    <Label
      textWrap="true"
      text="Weekly menu"
      horizontalAlignment="center"
      textAlignment="center"
      height="30"
      width="100%"
      fontSize="14"
      fontWeight="300"
    ></Label>
    <Label
      textWrap="true"
      [text]="items.length"
      height="50"
      fontWeight="bold"
      fontSize="40"
      horizontalAlignment="center"
    ></Label>
    <Label
      textWrap="true"
      text="items"
      height="33"
      horizontalAlignment="center"
    ></Label>
  </StackLayout>

  <!-- section 2 title -->
  <Label
    textWrap="true"
    verticalAlignment="bottom"
    text="Start a flashcard study session"
    fontWeight="bold"
    height="30"
    fontSize="16"
    marginBottom="12"
  ></Label>
  <!-- Button Study -->
  <StackLayout
    paddingTop="15"
    paddingBottom="15"
    borderRadius="12"
    paddingLeft="20"
    [nsRouterLink]="['/study']"
    class="button-study"
  >
    <Label
      textWrap="true"
      text="Study list: 'Weekly menu'"
      height="30"
      fontSize="14"
      fontWeight="300"
      horizontalAlignment="left"
    ></Label>
    <Label
      textWrap="true"
      [text]="items.length + ' items'"
      height="45"
      fontWeight="bold"
      fontSize="20"
      horizontalAlignment="left"
    ></Label>
  </StackLayout>
</StackLayout>
