<ActionBar title="KonbiniKart 🛒">
  <NavigationButton
    android.systemIcon="ic_menu_info_details"
    [nsRouterLink]="['/about']"
  ></NavigationButton>
</ActionBar>
<!-- コンビニ -->
<GridLayout columns="*" rows="75, 150, 150, 150">
  <Button
    class="btn"
    row="1"
    col="0"
    textAlignment="left"
    [nsRouterLink]="['/groceries-translated']"
  >
    <FormattedString>
      <Span text="Groceries" class="h1 bold text"></Span>
      <Span text="&#13;&#10;Shop and learn" class="h3 text"></Span>
    </FormattedString>
  </Button>
  <Button
    row="2"
    class="btn"
    col="0"
    textAlignment="left"
    [nsRouterLink]="['/groceries']"
  >
    <FormattedString>
      <Span text="View" class="h1 bold text"></Span>
      <Span text="&#13;&#10;Check all your groceries" class="h3 text"></Span>
    </FormattedString>
  </Button>
  <Button
    class="btn"
    row="3"
    col="0"
    textAlignment="left"
    [nsRouterLink]="['/edit-groceries']"
  >
    <FormattedString>
      <Span text="Edit" class="h1 bold text"></Span>
      <Span text="&#13;&#10;Manage your grocery list" class="h3 text"></Span>
    </FormattedString>
  </Button>
</GridLayout>
