.img {
    border-bottom-width: 3;
    border-color: var(--light-accent);
}

.btn-here {
    height: 130dpi;
    margin-top: 100dpi;
    border-radius: 35px;
    padding-left: 100px;
    font-size: 24px;
    background-color: var(--dark-accent);
    border-color: var(--light-accent);
    border-width: 3;

}

.btn-here.ns-dark {
    background-color: var(--dark-accent);
}

.text {
    color: var(--color-forest);

}

.semi-bold {
    color: var(--light-accent);
}
.semi-bold.ns-dark {
    font-weight: 800;
}